@{
    ViewBag.Title = "Faq";
}

<div class="layout">
    <div class="container">
        <div class="container-inner clearfix" style="padding-top: 2%;">
            <div class="category-page">
                <div class="header">
                    <h1 class="h2">FAQs</h1>
                    <p class="page-description">Frequently Asked Questions about our services, products, and materials</p>
                </div>
                <div class="row folder-tree clearfix">
                    <section class="column column--sm-6 folder">

                        <ul class="articles">
                            <li class="articles__item">
                                <a class="articles__link" href="javascript:;">Can I order a sample?</a>
                                <p class="answer">
                                    Yes. We support sample order. Sample can be finished in 5-10days up to the complexity of customization.
                                </p>
                            </li>
                            <li class="articles__item">
                                <a class="articles__link" href="javascript:;">How can I design my box?</a>
                                <p class="answer">
                                    You can just show us your artwork. Or tell us your design idea, our team of graphics experts is here to help with your design as much as possible. 
                                </p>
                            </li>
                            <li class="articles__item">
                                <a class="articles__link" href="javascript:;">Can you send me a dieline to use in illustrator?</a>
                                <p class="answer">
                                    Yes, please contact us and we will be happy to provide a 2D dieline for artwork placement alone with instructions on how to send us the complete art and place your order.
                                </p>
                            </li>
                            <li class="articles__item">
                                <a class="articles__link" href="javascript:;">What format of artwork do I put my artwork in?</a>
                                <p class="answer">
                                    We need editable vectorgraph in CMYK color. Like editable Coreldraw file or AI file.
                                </p>
                            </li>
                            <li class="articles__item">
                                <a class="articles__link" href="javascript:;">Can I expedite the delivery?</a>
                                <p class="answer">
                                    In many cases we are able to offer rush production and/or shipping upon request. Please contact customer support for rates and details.
                                </p>
                            </li>
                        </ul>
                    </section>

                    <section class="column column--sm-6 folder">

                        <ul class="articles">
                            <li class="articles__item">
                                <a class="articles__link" href="javascript:;">Do you charge extra based on the number of colors and the amount of ink on the box?</a>
                                <p class="answer">
                                    No. You may cover your box with as many colors as you want at no extra charge.
                                </p>
                            </li>
                            <li class="articles__item">
                                <a class="articles__link" href="javascript:;">Do you charge for plates and dies? Are there any hidden costs?</a>
                                <p class="answer">
                                    No. There are no hidden fees of any kind. What you see is what you pay.
                                </p>
                            </li>
                            <li class="articles__item">
                                <a class="articles__link" href="javascript:;">Can I order non-printed boxes with custom dimensions?</a>
                                <p class="answer">
                                    Yes, it is absolutely no problem.
                                </p>
                            </li>

                        </ul>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!--联系我-->
    <section class="patternBanner patternBanner--orange">
        <div class="patternBanner__content">
            <h2>Want to see more styles?</h2>
            <!--<p>Want to see more styles?</p>-->
            <a href="/About/About" class="btn btn--blue">Contact me!</a>
        </div>
    </section>

</div>

<link href="~/Content/Css/Faq/theme.css" media="screen" rel="stylesheet" type="text/css">
