@{
    ViewBag.Title = "Home Page";
}

<div class="container flash-container"></div>

<main>
    <div class="wrapper" id="packlane">

        <!-----------------banner------------------------>

        <section class="hero homepage">
            <div class="hero__content">
                <div class="hero__image">
                    <picture>
                        <img src="~/Content/Img/Home/home_banner.jpg" />
                    </picture>
                </div>
                <div class="hero__data">
                    <div class="hero__text">
                        <h1>Power your brand with customized box packaging</h1>
                        <h2>Free design  |  Free pre-production sample  |  Fast turnaround</h2>
                        <a href="/About/About" class="btn btn--white" style="border-radius: 50px; font-size: 0.25rem;">Get your style</a>
                    </div>
                </div>
            </div>
        </section>

        <!--包装定制-->
        <section class="style" id="choose-style">
            <h2 class="sectionTitle">Different styles to choose from	</h2>
            <ul class="style__carousel">
                <li class="styleBox box active">
                    <div class="styleBox__content">
                        <div class="styleBox__image">
                            <picture>
                                <img src="~/Content/Img/Home/home-02-1.png" />
                            </picture>
                        </div>
                        <div class="styleBox__data">
                            <a href="/Product/Custom_cardboard_box">
                                <h3 class="styleBox__name">Custom cardboard box <br> &nbsp;</h3>
                            </a>
                            <a href="/Product/Custom_cardboard_box" class="smallCTA--blue">Learn more</a>
                            <a href="/About/About" class="btn btn--white">GET IT CUSTOMIZED</a>
                        </div>
                    </div>
                    <a href="javascript:;"></a>
                    <div class="styleBox__overlay">
                        <a href="javascript:;">
                            <div class="styleBox__image">
                                <img alt="Box-tailor" class="styleBox__icon" src="~/Content/Img/Home/ico-m-mailer-01.png">
                            </div>
                        </a>
                        <div class="styleBox__data">
                            <a href="/Product/Custom_cardboard_box">
                                <h3 class="styleBox__name">Custom cardboard box</h3>
                            </a>
                            <a href="/Product/Custom_cardboard_box" class="smallCTA--blue">Learn more</a>
                            <p class="styleBox__description">Rigid durable cardboard box</p>
                            <p class="styleBox__description">for retail display and gifts</p>
                            <p class="styleBox__description">like chocolate, cosmetic</p>
                            <p class="styleBox__description">health care products</p>
                            <a href="/About/About" class="btn btn--gray">GET IT CUSTOMIZED</a>
                        </div>
                    </div>
                </li>
                <li class="styleBox box">
                    <div class="styleBox__content">
                        <div class="styleBox__image">
                            <picture>
                                <img src="~/Content/Img/Home/home-02-2.png" />
                            </picture>
                        </div>
                        <div class="styleBox__data">
                            <a href="/Product/Custom_corrugated_mailers">
                                <h3 class="styleBox__name">Custom corrugated mailers</h3>
                            </a>
                            <a href="/Product/Custom_corrugated_mailers" class="smallCTA--blue">Learn more</a>
                            <a href="/About/About" class="btn btn--white">GET IT CUSTOMIZED</a>
                        </div>
                    </div>
                    <a href="javascript:;"></a>
                    <div class="styleBox__overlay">
                        <a href="javascript:;">
                            <div class="styleBox__image">
                                <img alt="Box-tailor" class="styleBox__icon" src="~/Content/Img/Home/ico-m-mailer-02.png">
                            </div>
                        </a>
                        <div class="styleBox__data">
                            <a href="/Product/Custom_corrugated_mailers">
                                <h3 class="styleBox__name">Custom corrugated mailers</h3>
                            </a>
                            <a href="/Product/Custom_corrugated_mailers" class="smallCTA--blue">Learn more</a>
                            <p class="styleBox__description">&nbsp;</p>
                            <p class="styleBox__description">The most popular box style for </p>
                            <p class="styleBox__description">product subscription, like cosmetic, clothes</p>
                            <p class="styleBox__description">&nbsp;</p>
                            <a href="/About/About" class="btn btn--gray">GET IT CUSTOMIZED</a>
                        </div>
                    </div>
                </li>
                <li class="styleBox box">
                    <div class="styleBox__content">
                        <div class="styleBox__image">
                            <picture>
                                <img src="~/Content/Img/Home/home-02-3.png" />
                            </picture>
                        </div>
                        <div class="styleBox__data">
                            <a href="/Product/Custom_card_box">
                                <h3 class="styleBox__name">Custom card box <br> &nbsp;</h3>
                            </a>
                            <a href="/Product/Custom_card_box" class="smallCTA--blue">Learn more</a>
                            <a href="/About/About" class="btn btn--white">GET IT CUSTOMIZED</a>
                        </div>
                    </div>
                    <a href="javascript:;"></a>
                    <div class="styleBox__overlay">
                        <a href="javascript:;">
                            <div class="styleBox__image">
                                <img alt="Box-tailor" class="styleBox__icon" src="~/Content/Img/Home/ico-m-mailer-03.png">
                            </div>
                        </a>
                        <div class="styleBox__data">
                            <a href="/Product/Custom_card_box">
                                <h3 class="styleBox__name">Custom card box</h3>
                            </a>
                            <a href="/Product/Custom_card_box" class="smallCTA--blue">Learn more</a>
                            <p class="styleBox__description">&nbsp;</p>
                            <p class="styleBox__description">Flat packing light weight retail packaging</p>
                            <p class="styleBox__description"> for cosmetic, candy or electronics, etc.</p>
                            <p class="styleBox__description">&nbsp;</p>
                            <a href="/About/About" class="btn btn--gray">GET IT CUSTOMIZED</a>
                        </div>
                    </div>
                </li>
                <li class="styleBox box">
                    <div class="styleBox__content">
                        <div class="styleBox__image">
                            <picture>
                                <img src="~/Content/Img/Home/home-02-4.png" />
                            </picture>
                        </div>
                        <div class="styleBox__data">
                            <a href="/Product/Custom_paper_bags">
                                <h3 class="styleBox__name">Custom paper bags <br> &nbsp;</h3>
                            </a>
                            <a href="/Product/Custom_paper_bags" class="smallCTA--blue">Learn more</a>
                            <a href="/About/About" class="btn btn--white">GET IT CUSTOMIZED</a>
                        </div>
                    </div>
                    <a href="javascript:;"></a>
                    <div class="styleBox__overlay">
                        <a href="javascript:;">
                            <div class="styleBox__image">
                                <img alt="Box-tailor" class="styleBox__icon" src="~/Content/Img/Home/ico-m-mailer-04.png">
                            </div>
                        </a>
                        <div class="styleBox__data">
                            <a href="/Product/Custom_paper_bags">
                                <h3 class="styleBox__name">Custom paper bags</h3>
                            </a>
                            <a href="/Product/Custom_paper_bags" class="smallCTA--blue">Learn more</a>
                            <p class="styleBox__description">&nbsp;</p>
                            <p class="styleBox__description">Perfect shopping bags for</p>
                            <p class="styleBox__description"> retail packaging and gift.</p>
                            <p class="styleBox__description">&nbsp;</p>
                            <a href="/About/About" class="btn btn--gray">GET IT CUSTOMIZED</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <!--为什么选择我们-->
        <section class="howItWorks">
            <div class="howItWorks__content">
                <h2 class="sectionTitle">Why choose us?</h2>
                <div class="iconFeatures">
                    <div class="iconFeatures__item">
                        <div class="iconFeatures__image">
                            <img alt="Tiny minimum orders" src="~/Content/Img/Home/why_us_01.png" />
                        </div>
                        <h2>Box packaging guru</h2>
                        <p> We focused on box packaging for more than 14years.As long as you tell us the preferable box structure and products to put in, we can evaluate the box shape and give the suggestion on box materials. </p>
                    </div>
                    <div class="iconFeatures__item">
                        <div class="iconFeatures__image">
                            <img alt="Instant quotes" src="~/Content/Img/Home/why_us_02.png">
                        </div>
                        <h2>High quality printing</h2>
                        <p>We have professional word-class German MAN ROLAND printer and some digital printers in our workshop, so that we can start printing within 1h after artwork approved.</p>
                        <p></p>
                    </div>
                    <div class="iconFeatures__item">
                        <div class="iconFeatures__image">
                            <img alt="Fast turnarounds" src="~/Content/Img/Home/why_us_03.png">
                        </div>
                        <h2>Free pre-production sample</h2>
                        <p>As long as we receive the deposit and confirm the artwork, we will custom the pre-production sample to confirm box structure, size and printing before mass production. If the sample does not meet everything we confirm, we will rework on the sample.</p>
                    </div>

                    <div class="iconFeatures__item">
                        <div class="iconFeatures__image">
                            <img alt="Fast turnarounds" src="~/Content/Img/Home/why_us_04.png">
                        </div>
                        <h2>Free design</h2>
                        <p>Our professional packaging designer can help with simple design or solve different kind of artwork problem. </p>
                    </div>

                    <div class="iconFeatures__item">
                        <div class="iconFeatures__image">
                            <img alt="Fast turnarounds" src="~/Content/Img/Home/why_us_05.png">
                        </div>
                        <h2>Fast turnaround</h2>
                        <p>With Box-tailor, you can receive your order in 15 working days after we confirm deposit and artwork. If the order is super urgent, please contact us to discuss more!</p>
                    </div>

                    <div class="iconFeatures__item">
                        <div class="iconFeatures__image">
                            <img alt="Fast turnarounds" src="~/Content/Img/Home/why_us_06.png">
                        </div>
                        <h2>Environmentally friendly materials</h2>
                        <p>All materials we used meet FSC( Forest Stewardship Council) standard. And if needed, we can offer  food grade paper and paper that meets BV or SGS standard. </p>
                    </div>
                </div>
            </div>
        </section>

        <!--合作流程-->
        <section class="cop_lc howItWorks" style="padding: 0;">
            <h2 class="sectionTitle">How to get your packaging customized?</h2>
            <ul class="iconFeatures">
                <li>
                    <img src="~/Content/Img/Home/cop_01.jpg" alt="" />
                    <h3>A</h3>
                    <p>select box style you like</p>
                </li>
                <li>
                    <img src="~/Content/Img/Home/cop_02.jpg" alt="" />
                    <h3>B</h3>
                    <p>tell us box size or product size, so we can help to design box size.</p>
                </li>
                <li>
                    <img src="~/Content/Img/Home/cop_03.jpg" alt="" />
                    <h3>C</h3>
                    <p>tell us the quantity</p>
                </li>
                <li>
                    <img src="~/Content/Img/Home/cop_04.jpg" alt="" />
                    <h3>D</h3>
                    <p>show us the design artwork or tell us your design concept, we can help with design</p>
                </li>
                <li>
                    <img src="~/Content/Img/Home/cop_05.jpg" alt="" />
                    <h3>E</h3>
                    <p>we will calculate the cost instantly</p>
                </li>
                <li>
                    <img src="~/Content/Img/Home/cop_06.jpg" alt="" />
                    <h3>F</h3>
                    <p>we will make the pre-production sample after we confirm the order</p>
                </li>
            </ul>
        </section>


        <!--工作流程-->
        <!--<section class="howItWorks style" style="margin-bottom: 0;">
            <div class="howItWorks__content">
                <h2 class="sectionTitle">How it works</h2>
                <div class="howItWorks__container steps">
                    <div class="steps__col steps__col--1">
                        <ul class="selectors">
                            <li data-class="how-it-works-1" class="steps__item how-it-works-button how-it-works-1 active">
                                <div data-class="how-it-works-1" class="steps__item__image">
                                    <img alt="Choose your style" data-class="how-it-works-1" src="./home/img/ico-okbox-01.svg"> </div>
                                <div data-class="how-it-works-1" class="steps__item__data">
                                    <h2 data-class="how-it-works-1">1 select box style</h2>
                                    <p data-class="how-it-works-1">Pick your custom packaging based on durability, presentation, and product protection.</p>
                                </div>
                            </li>
                            <li data-class="how-it-works-2" class="steps__item how-it-works-button how-it-works-2">
                                <div data-class="how-it-works-2" class="steps__item__image">
                                    <img alt="Select your size" data-class="how-it-works-2" src="./home/img/ico-size-01.svg"> </div>
                                <div data-class="how-it-works-2" class="steps__item__data">
                                    <h2 data-class="how-it-works-2">2 tell us the size & quantity</h2>
                                    <p data-class="how-it-works-2">Perfectly sized just for you! Choose a stock or custom size to give your product the perfect fit.</p>
                                </div>
                            </li>
                            <li data-class="how-it-works-3" class="steps__item how-it-works-button how-it-works-3">
                                <div data-class="how-it-works-3" class="steps__item__image">
                                    <img alt="Mix in your designs" data-class="how-it-works-3" src="./home/img/ico-designs-01.svg"> </div>
                                <div data-class="how-it-works-3" class="steps__item__data">
                                    <h2 data-class="how-it-works-3">3 show us the design artwork</h2>
                                    <p data-class="how-it-works-3">Create the perfect mailer boxes by adding your logo, colors, and graphics to stand out from the rest of the crowd.</p>
                                </div>
                            </li>
                            <li data-class="how-it-works-4" class="steps__item how-it-works-button how-it-works-4">
                                <div data-class="how-it-works-4" class="steps__item__image">
                                    <img alt="Pick a quantity" data-class="how-it-works-4" src="./home/img/ico-plus-01.svg"> </div>
                                <div data-class="how-it-works-4" class="steps__item__data">
                                    <h2 data-class="how-it-works-4">4 we will calculate the cost instantly</h2>
                                    <p data-class="how-it-works-4">You're almost ready to order! Pick the number of custom cardboard boxes you need and get pricing in real-time.</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="steps__col steps__col--2">
                        <div class="steps__ajaxContainer steps__item how-it-works-1 active">
                            <picture>
                                <img alt="Choose your style" class="pager-page-1 customizer3d__step active" src="./home/img/home-05.png" />
                            </picture>
                        </div>
                        <div class="steps__ajaxContainer steps__item how-it-works-2">
                            <picture>
                                <img alt="Choose your style" class="pager-page-1 customizer3d__step active" src="./home/img/home-06.png" />
                            </picture>
                        </div>
                        <div class="steps__ajaxContainer steps__item how-it-works-3">
                            <picture>
                                <img alt="Choose your style" class="pager-page-1 customizer3d__step active" src="./home/img/home-07.png" />
                        </div>
                        <div class="steps__ajaxContainer steps__item how-it-works-4">
                            <picture>
                                <img alt="Choose your style" class="pager-page-1 customizer3d__step active" src="./home/img/home-08.png" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->

        <script type="text/javascript">
            $(".steps__col--1 .steps__item").click(function () {
                var num = $(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                $(".steps__col--2 .steps__item").eq(num).addClass('active').siblings().removeClass('active');
            });
        </script>

        <!--联系我-->
        <section class="patternBanner patternBanner--orange">
            <div class="patternBanner__content">
                <h2>Request a quote</h2>
                <p>NEED MORE HELP?</p>
                <a href="/About/About" class="btn btn--blue">CONTACT ME</a>
            </div>
        </section>
    </div>
</main>
