<main>
    <div class="hero hero__content" style="background-color: #e8b7f1;">
        <div class="hero__image">
            <picture>
                <img src="~/Content/Img/card box/card_box_banner.png" />
            </picture>
        </div>
        <div class="hero__data">
            <div class="hero__text">
                <h1>Custom card box</h1>
                <h2>
                    Flat packing light weight retail packaging<br>
                    for cosmetic, candy or electronics, etc.<br>
                    We have different kind of card paper, art card paper for it.
                </h2>
                <a href="/About/About" class="btn btn--white" style="border-radius: 50px; font-size: 0.25rem;">CHOOSE YOUR STYLE</a>
            </div>
        </div>
    </div>

    <div class="cardbox_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image" style="order: 1;">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/card box/card_box_01.jpg" />
            </picture>
        </div>
        <div class="hero__data" style="order: 2;">
            <div class="hero__text hero__text_right">
                <h1>Secure tuck top card box</h1>
                <h2>
                    Mostly for cosmetic, health care product<br>
                    and bulb packaging.
                </h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <div class="cardbox_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/card box/card_box_02.png" />
            </picture>
        </div>
        <div class="hero__data">
            <div class="hero__text">
                <h1>Drawer card box</h1>
                <h2>Mostly for chocolate bar packaging</h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <!--联系我-->
    <section class="patternBanner patternBanner--orange">
        <div class="patternBanner__content">
            <h2>Want to see more styles?</h2>
            <!--<p>Want to see more styles?</p>-->
            <a href="/About/About" class="btn btn--blue">Contact me!</a>
        </div>
    </section>


</main>