<main>
    <div class="hero hero__content" style="background-color: #b8b7f1;">
        <div class="hero__image">
            <picture>
                <img class="pro_box_banner" src="~/Content/Img/cardboard box/cardboard box_banner.png" />
            </picture>
        </div>
        <div class="hero__data">
            <div class="hero__text">
                <h1>Custom cardboard box</h1>
                <h2>Cardboard box is made of rigid cardboard. We have cardboard  ranged from 0.5--3mm thickness that can bear different weight of product.</h2>
                <h2>Here are some popular cardboard box style for reference.</h2>
                <a href="/About/About" class="btn btn--white" style="border-radius: 50px; font-size: 0.25rem;">CHOOSE YOUR STYLE</a>
            </div>
        </div>
    </div>

    <div class="cardboard_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image" style="order: 1;">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/cardboard box/cardboard box_01.jpg" />
            </picture>
        </div>
        <div class="hero__data" style="order: 2;">
            <div class="hero__text hero__text_right">
                <h1>Lid off round tube box</h1>
                <h2>Mostly for flower delivery packaging and cookie packing</h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <div class="cardboard_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/cardboard box/cardboard box_02.jpg" />
            </picture>
        </div>
        <div class="hero__data">
            <div class="hero__text">
                <h1>Lid off square box</h1>
                <h2>
                    The most common box style. <br>
                    Can apply to any kind of product packaging, <br>
                    likes shoes, clothes, chocolate, craft product.
                </h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <div class="cardboard_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image" style="order: 1;">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/cardboard box/cardboard box_03.jpg" />
            </picture>
        </div>
        <div class="hero__data" style="order: 2;">
            <div class="hero__text hero__text_right">
                <h1>Drawer box</h1>
                <h2>Mostly for jewelry, socks, apparel packing</h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <div class="cardboard_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/cardboard box/cardboard box_04.jpg" />
            </picture>
        </div>
        <div class="hero__data">
            <div class="hero__text">
                <h1>Flip top magnetic box</h1>
                <h2>Mostly for lingerie, apparels, health care products,etc</h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <div class="cardboard_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image" style="order: 1;">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/cardboard box/cardboard box_05.jpg" />
            </picture>
        </div>
        <div class="hero__data" style="order: 2;">
            <div class="hero__text hero__text_right">
                <h1>Magnetic folding box</h1>
                <h2>
                    Folding box can be flat packing<br>
                    which can help to save a lot space in shipping
                </h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <div class="cardboard_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/cardboard box/cardboard box_06.jpg" />
            </picture>
        </div>
        <div class="hero__data">
            <div class="hero__text">
                <h1>Irregular box</h1>
                <h2>
                    We can also custom any kind of irregular box<br>
                    as long as you can show us the style you like.
                </h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <!--联系我-->
    <section class="patternBanner patternBanner--orange">
        <div class="patternBanner__content">
            <h2>Want to see more styles?</h2>
            <!--<p>Want to see more styles?</p>-->
            <a href="/About/About" class="btn btn--blue">Contact me!</a>
        </div>
    </section>

</main>