<main>
    <div class="hero hero__content" style="background-color: #88bdff;">
        <div class="hero__image">
            <picture>
                <img src="~/Content/Img/paper bag/paper_bag_banner.png" />
            </picture>
        </div>
        <div class="hero__data">
            <div class="hero__text">
                <h1>Custom paper bag</h1>
                <h2>
                    The  shopping bags that we can custom in<br>
                    different paper materials, size and color printing.
                </h2>
                <a href="/About/About" class="btn btn--white" style="border-radius: 50px; font-size: 0.25rem;">CHOOSE YOUR STYLE</a>
            </div>
        </div>
    </div>

    <div class="paper_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image" style="order: 1;">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/paper bag/paper_bag_01.jpg" />
            </picture>
        </div>
        <div class="hero__data" style="order: 2;">
            <div class="hero__text hero__text_right">
                <h1>Brown kraft paper bag</h1>
                <h2>Strong twisted paper handles make purchases<br>easy to carry.</h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <div class="paper_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image" style="order: 2;">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/paper bag/paper_bag_02.png" />
            </picture>
        </div>
        <div class="hero__data" style="order: 1;">
            <div class="hero__text">
                <h1>White kraft paper bag</h1>
                <h2>White kraft paper can present<br>the original color the most.</h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <div class="paper_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image" style="order: 1;">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/paper bag/paper_bag_03.jpg" />
            </picture>
        </div>
        <div class="hero__data" style="order: 2;">
            <div class="hero__text hero__text_right">
                <h1>Card paper bag</h1>
                <h2>Card paper bag is more thick and luxurious. <br>It applies for apparels, jewelry and gift.</h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <!--联系我-->
    <section class="patternBanner patternBanner--orange">
        <div class="patternBanner__content">
            <h2>Want to see more styles?</h2>
            <!--<p>Want to see more styles?</p>-->
            <a href="/About/About" class="btn btn--blue">Contact me!</a>
        </div>
    </section>

</main>