<main>
    <div class="hero hero__content" style="background-color: #fbbb6d;">
        <div class="hero__image">
            <picture>
                <img src="~/Content/Img/corrugated mailers/corrugated_mailer_banner.png" />
            </picture>
        </div>
        <div class="hero__data">
            <div class="hero__text">
                <h1>Custom corrugated mailer</h1>
                <h2>
                    Corrugated provides a higher level of assurance<br>that your products will move from your warehouse<br>to their final destination in great shape.<br>
                </h2>
                <a href="/About/About" class="btn btn--white" style="border-radius: 50px; font-size: 0.25rem;">CHOOSE YOUR STYLE</a>
            </div>
        </div>
    </div>

    <div class="corrugated_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image" style="order: 1;">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/corrugated mailers/corrugated_mailer_01.jpg" />
            </picture>
        </div>
        <div class="hero__data" style="order: 2;">
            <div class="hero__text hero__text_right">
                <h1>Corrugated mailer</h1>
                <h2>Mostly for cosmetic, apparel subscription delivery.</h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <div class="corrugated_hero hero hero__content" style="background-color: #fff;">
        <div class="hero__image">
            <picture style="margin-top: 4%;">
                <img src="~/Content/Img/corrugated mailers/corrugated_mailer_02.jpg" />
            </picture>
        </div>
        <div class="hero__data">
            <div class="hero__text">
                <h1>Corrugated shipping carton</h1>
                <h2>
                    Strong and durable corrugated paper to make it bear any kind of heavy goods,<br>
                    And shipping flat to save on storage space and shipping.
                </h2>
                <a href="/About/About" class="btn btn--white custom_btn">Get this style customized</a>
            </div>
        </div>
    </div>

    <!--联系我-->
    <section class="patternBanner patternBanner--orange">
        <div class="patternBanner__content">
            <h2>Want to see more styles?</h2>
            <!--<p>Want to see more styles?</p>-->
            <a href="/About/About" class="btn btn--blue">Contact me!</a>
        </div>
    </section>

</main>